P {
    font-size : 12pt;
    font-family : arial,helvetica;
    font-weight : normal;
    }
    H1 {
        font-size : 36pt;
        font-family : verdana,arial;
        text-decoration : underline;
        text-align : center;
        background-color : Teal;
        }
        .ex1 {
            margin: auto;
            background: gold;
            width: 66%;
            }
            .ex2 {
            margin: 10px 0px 0 60px;
            background: gold;
            width: 40%;
            }
            . caja {
                display: inline-block;
                width: 100px;
                height: 100px;
                background: rgb(135, 46, 46);
                
                color: blue;
                }
                #dos {
                position: relative;top: 20px;
                left: 20px;
                background: rebeccapurple;
                } 